<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <form action="/search" method="post">
        <input type="text" name="productName" placeholder="Ingrese el producto a buscar">
        <button type="submit">Buscar</button>
    </form>
    <% if(contentAmazon) { %>
        <div><%- contentAmazon.prod1.image %></div>
        <h2><%= contentAmazon.prod1.title %></h2>
        <h3>Precio:</h3> 
        <div><%- contentAmazon.prod1.price %></div>
        <h3>Descripción:</h3>
        <div><%- contentAmazon.prod1.description %></div>
        <h3>Especificaciones:</h3>
        <div><%- contentAmazon.prod1.specifications %></div>
        <a href="<%= contentAmazon.prod1.url %>" target="_blank">
            <button>Comprar</button>
        </a>
    <% } %>
</body>
</html>
